$primary-color: #2b2b2b;
$secondary-color: black;
$text-color: #fff;
$link_title-color: #ffde59;
$nunito-sans:'Nunito Sans', sans-serif;
$poppins: 'Poppins', sans-serif;
$hover-button-color: #fefce8;
$small-screen: 480px;
$medium-screen: 768px;
$large-screen: 1024px;