<%- include('header') -%>
<div class="a-propos"></div>
        <section class="container about_container">
            <h1>À propos de nous</h1>
            <p>Le club de lecture “Brasil em Livros” est née en octobre 2022, à Paris.</p>
            <p>Ses participants ont diverses nationalités et partagent une même passion: l’apprentissage de la langue portugaise à travers de la découverte de la littérature brésilienne.</p>
            <p>Nos rencontres ont lieu à Paris et sont  faites exclusivement en portugais, avec la participation d’un facilitateur brésilien. Nous parlons non seulement des livres mais aussi de la culture, de la société et des curiosités à propos du Brésil!</p>
        </section>
        <section class="container">
            <h2>Un peu d'inspiration pour accrocher la littérature brésilienne </h2>
            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/TJF8h6ddHOI?si=4JKVi8rNFi5qmYe4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen  loading="lazy"></iframe>
            </div>
            
        </section>
<%- include('footer') -%>