<%- include('header') -%>
<div class="admin"></div>
<section class="container admin_page">
    <h1>Administrateur</h1>
    <article>
        <h2>Menu de fonctionalités :</h2>
        <ul>
            <li><i class="fa-solid fa-clipboard-list" style="color: #ede607;"></i> <a href="/add_book">Enregistrer un nouveau livre</a></li>
            <!-- lien avec le paramètre action - voir ReadingsController.js (ReadingsController) -->
            <li><i class="fa-solid fa-clipboard-list" style="color: #ede607;"></i> <a href="/readings?action=modifier">Modifier le contenu d'un livre</a></li>
            <!-- lien avec le paramètre action - voir ReadingsController.js  (ReadingsController)-->
            <li><i class="fa-solid fa-clipboard-list" style="color: #ede607;"></i> <a href="/readings?action=supprimer">Supprimer un livre</a></li>
        </ul>
    </article>
</section>
<script src="/javascript/formulaire.js"></script>
<%- include('footer') -%>