<%- include('header') -%>
    <section class="homepage">
        <div class="block_home">
            <h1 class="home">
                <span class="home_title">Brasil em Livros</span >
                <span class="home_subtitle">Club de lecture</span>
            </h1>
            <p>Le plaisir de découvrir la culture brésilienne à travers sa littérature!</p>
            <p><a class="btn_home" href="/about">Bienvenue</a></p>
        </div>
    </section>
<%- include('footer') -%>